@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('./icon/svg.css');

*{
  margin : 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* var */
:root {
  --main-color : #28B8EC;
  --secondary-bg-color : #eeeeee;

  --default-font-color : #000;
  --secondary-font-color : #9e9e9e;
}

/* reset css */
a { color: var(--secondary-font-color); text-decoration: none;}
a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: none;}


li {
  list-style: none;
}

dl dt {
  float: left;
  width: 100px;
}


button {
  background: none;
  border: none;
  outline: none
}

/* typo */
*::selection {
  background-color: var(--main-color);
  color: #fff;
}
h1,h2,h3{
  margin-bottom: .5rem;
}

h1 {
  width: fit-content;
  font-size: 1.8rem;
}

h1::first-letter{
  color: var(--main-color);
}

h2 {
  font-size: 1.22rem;
}

p {
  line-height: 1.55;
}

strong {
  background-color: var(--main-color);
  padding: 0 .3rem;
  color: #fff;
}

em {
  font-style: normal;
  border-bottom: 1.3px solid var(--main-color);
}

.text-center {
  text-align: center;
}


.text-info {
  font-size: 0.8rem;
  color: var(--secondary-font-color);
}

/* -----layout----- */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* -----section----- */

[id*="sec-"]{
  padding-top: 75px;
  padding-bottom: 75px;
}

[id*="sec-"] p {
  margin: 1.3rem 0;
}

#sec-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background: linear-gradient(0.45turn, #93a4a5, #29365a);
  color: #fff;
}

#sec-intro-text {
  z-index: 10;
}

#sec-intro-text > p {
  margin: 0px;
}

/* #sec-intro h1{
  width: 50vw;
  border: none;
  margin: 0;
  height: fit-content;
} */

#sec-intro em {
  margin: 0 .2rem;
  font-style: normal;
  color: var(--main-color);
}

#sec-intro .bg-graphic {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

#sec-games {
  background-color: var(--secondary-bg-color);
}

#sec-webvr {
  overflow: hidden;
  background: #222d4d;
  position: relative;
}

#sec-webvr > div {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  z-index: 1;
  color: #fff;
}

#sec-webvr > img {
  display: block;
  position: absolute;
  min-width: 600px;
  width: 50%;
  right: 0px;
  bottom: 0;
  opacity: .6;
  /* top: 50%;
  transform: translateY(-50%); */
}

[id*="sec-vision-"] {
  position: relative;
  color: #fff;
}

[id*="sec-vision-"] h2 {
  font-size: 3rem;
}

#sec-vision-variation {
  color: var(--default-font-color);
}

/* -----games----- */
.sub-sec {
  margin-top: 100px;
}

.image {
  margin: 1rem 0;
  height: 350px;
  background-color: #fff;
  border-radius: 16px;
  transition: box-shadow .3s ease-in;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

.image:hover {
  transition: box-shadow .3s ease-in;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

/* -----team----- */

.profile-image{
  margin: 0 auto;
  background-color: var(--secondary-bg-color);
  border-radius: 10%;
  width: 200px;
  height: 200px;
  margin-bottom: .5rem;

  background-position: center;
  background-size: cover;
}
.profile-content span {
  font-size: .7rem;
  color: var(--secondary-font-color);
}

.profile-content {
  padding: .8rem;
}

/* -----slider----- */
.slider-wrap {
  position: relative;
}

[class*="slider-controler"] > * {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  font-weight: 100;
  color: var(--main-color);
  cursor: pointer;
  opacity: .5;
}

[class*="slider-controler"] > *:hover {
  opacity: 1;
}
[class*="slider-controler"]r #slider-prev {
  left: 0;
}

[class*="slider-controler"] #slider-next{
  right: 0;
}


/* -----slider thumbnail ----- */
#slider-thumbnails{
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 1rem;
 margin : 1rem 0;
}

.profile-box {
  min-height: 300px;
}

.profile-graphic {
  height: 100%;
  line-height: 300px;
}

.profile-graphic .profile-image {
  display: inline-block;
  vertical-align: middle;
}

#slider-thumbnails .profile-image {
  width: 40px;
  height: 40px;
  
}

/* 활성화된 slider nav 썸네일 */
.tns-nav-active .profile-image{
  border: 2.5px solid var(--main-color);
  opacity: .8;
}

#slider-thumbnails li:hover {
  opacity: .8;
}

#slider-thumbnails li:focus {
  outline: none;
}

/* 
  componetn 모음
  nav, footer, tab, btn
*/

/* -----nav----- */
nav  {
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  display: flex;
  align-items: center;
  padding : .5rem 0;
  z-index: 100;
  font-size: .8rem;
  background-color: rgba(255, 255, 255, 0.2);
  /* transition: top .4s ease-in-out; */
}

nav * {
  display: flex;
  align-items: center;
}

nav .logo{
  margin: 0;
  border: none;
  width: 130px;
}
.logo img{
  width: 100%;
}

.logo-m {
  display: none;
}

nav ul li>a {
  color: #fff;
  transition: color .2s ease-in;
}

nav ul li>a:hover {
  color: var(--main-color);
  transition: color .2s ease-in;
}

nav ul li::after {
  content: '/';
  display:inline-block;
  color: var(--secondary-font-color);
  margin: 0 1rem;
}

nav ul li:last-child:after , nav ul li:first-child:after{
  display: none;
}

/* -----footer----- */
footer {
  padding: 50px 0;
  background-color: var(--secondary-bg-color);
  font-size: .8rem;
}

footer p {
  margin-bottom: 1rem;
}

footer p:last-child{
  margin-top: 2rem;
}


/* ----- tab ----- */
.js-tab li{
  cursor: pointer;
  float: left;
  padding : .6rem;
  border-bottom: 1.5px solid var(--secondary-font-color);
  margin-bottom: 1rem;
  font-size: .8rem;
}

.js-tab li.active {
  border-bottom: 3.5px solid var(--main-color);
}

.games-info {
  padding: 2rem;
}

.games-info ul  {
  margin: 10px 0;
}

.games-info ul li {
  list-style: inside;
  margin: .3rem 0;
}

.js-tab-content {
  display: none;
}



/* ----- btn ----- */
.btn {
  background-color: var(--main-color);
  padding: .5rem 1rem;
  color: #fff;
}

.btn a {
  color: #fff;
}

.btn-fill {
  border-radius: 2rem;
}

.btn:hover {
  opacity: .8;
}


/* ----- mobile ----- */

@media screen and (max-width : 420px){
  #map {
    margin-bottom: 1rem;
  }
  nav {
    position: relative;
    width: 100%;
    background-color: #fff;
    flex-wrap: wrap;
    text-align: center;
  }
  nav ul li>a {
    color: var(--default-font-color);
  }

  .logo-f{
    text-align: center;
    width: 100%;
  }
  nav * {
    display: inline-block;
  }

  
  .logo-m {
    /* flex: 1; */
  }
  
  .profile-graphic {
   line-height: 200px; 
  }  
}



/* ----- visability ----- */
.show {
  display: block !important;
  transition: display 1s ease-in-out;
}

/* screen read only */
.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
	opacity: 0;
}




.hover-shadow:hover {
  text-shadow: 1px 1px 5px #000;
}